<div class="card" *ngFor="let m of movies">
    <a routerLink="/overview/{{m.id}}">
        <div class="card-image">
            <img *ngIf="m.poster_path; else noImage" src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt="">
            <ng-template #noImage>
                <img src="../../assets/no-image-placeholder.jpg" alt="">
            </ng-template>
        </div>
        <div class="card-content">
            <h3 class="card-title">{{m.title}}</h3>
            <span>{{m.release_date | date: 'd MMM - yyyy' }}</span>
            <span>{{m.vote_average * 10}}%</span>
        </div>
    </a>
</div>